<!DOCTYPE html>
 <meta charset="UTF-8"> 
	<html>
	<head>
		<style>
			body {
    			background: lightblue url("../static/images/OGS.jpg") no-repeat fixed center;
			}
		</style>
	</head>

	<body>
		<h1>OGOUS TOOLBOX</h1>
		<img src="../static/images/XO.png" alt="ERROR" height="450" width="500">
		<!--Tool Names: Garret, Thompson, Law, Maxwell, Providence-->
		<h2>Invalid Tool Name</h2>
		<br>
		<br>
  		<a href="http://192.168.0.2:5000/"><text x="37" y="54" fill="red">Return to landing</text></a>
	</body>
</html>